:root {
  --bg: rgba(32, 33, 43, 1);
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.employees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.h3-expense {
  border-bottom: 2px solid rgba(220, 164, 60, 1);
  font-family: "League Spartan", sans-serif;
  display: inline-block;
}
.employees-card {
  background-color: rgba(32, 33, 43, 1);
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.worklogs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.worklog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.worklogs-info {
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 5px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(220, 164, 60, 1);
  background-color: #fff;
  max-width: 250px;
  width: 100%;
}

.worklogs-info h3 {
  margin: 5px 0;
  line-height: 1.2;
}

.worklog-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.worklog-icon img {
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.worklogs-button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}

.worklogs-button {
  background: #282c34;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  transition: color 0.3s;
  border-radius: 10px;
  width: 73px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.worklogs-button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.form-worklog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-worklog select,
.form-worklog input,
.form-worklog button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.worklog-edit-form {
  width: 100%;
  margin-top: 10px;
}

.button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.active {
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.button-container {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.button-container .button:hover {
  color: rgba(220, 164, 60, 1);
}

.form-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(220, 164, 60, 1);
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

form input,
form select,
form button,
form textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

form button {
  background: rgba(32, 33, 43, 1);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

form button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.card {
  background-color: white;
  color: rgba(32, 33, 43, 1);
  font-family: "League Spartan", sans-serif;
  text-align: center;
  box-shadow: rgba(32, 33, 43, 1) 0 5px 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  padding: 10px;
}

/* .button-worklog {
  background: #282c34;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  border-radius: 10px;
} */
/* 
.button-worklog:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
} */
.toggle-button {
  background: #282c34;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
}

.toggle-button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.expenses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.expense-card {
  background-color: rgba(32, 33, 43, 1);
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(32, 33, 43, 1);
}
.why-card p {
  font-family: "League Spartan", sans-serif;
  margin: 5px 0;
}

.styled-h32 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 5px;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;
  display: inline-block;
}

.styled-h32::before {
  background-color: rgba(220, 164, 60, 1);
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: -7px;
}

.styled-h32::after {
  background-color: rgba(220, 164, 60, 1);
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0.25em;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.error-message {
  font-family: "League Spartan", sans-serif;

  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

@media (max-width: 768px) {
  .toggle-button {
    margin-bottom: 20px;
  }

  #footer {
    padding: 20px 10px;
    margin-top: 20px;
  }
}
