html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "League Spartan";
}

.navbar {
  width: 100%;
  background-color: rgba(32, 33, 43, 1);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar .nav-logo {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.nav-link button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link button:hover {
  color: rgba(220, 164, 60, 1);
}

.active {
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.nav-links-container .nav-link.button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  flex-grow: 1;
  flex-wrap: wrap;
}
.nav-links-container {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.nav-links-container .nav-link.button:hover {
  color: rgba(220, 164, 60, 1);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .nav-links-container {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(32, 33, 43, 1);
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav-links-container.open {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .nav-link.button {
    font-size: 14px;
    padding: 8px;
  }

  .nav-links-container {
    padding: 0.5rem;
  }

  .navbar {
    padding: 0.5rem;
  }

  .hamburger-menu .bar {
    width: 20px;
    height: 2px;
  }
}
.nav-link-button {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link-button:hover {
  color: rgba(220, 164, 60, 1);
}

.nav-link-button.active {
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}
