/* General Styles */
.employee-page-container {
  display: flex;
  flex-direction: row; /* Default to row on larger screens */
  padding: 20px;
  gap: 20px; /* Add some gap between the sections */
  flex-wrap: wrap; /* Ensure content wraps if it overflows */
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.worklogs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}

.employee-info {
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(220, 164, 60, 1);
  background-color: #fff;
  max-width: 300px;
  width: 100%;
}

.form-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(220, 164, 60, 1);
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  margin-top: -70px;
}

.form-profile input,
.form-profile select,
.form-profile button,
.form-profile textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.form-profile button {
  background: rgba(32, 33, 43, 1);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.form-profile button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.profile-card {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profile-card img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.profile-card h3 {
  margin: 0;
}

.paid-button {
  background: white;
  color: #282c34;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  width: 100%;
  max-width: 200px;
}

.paid-button:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.toggle-edit {
  background: #282c34;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
}

.toggle-edit:hover {
  color: rgba(220, 164, 60, 1);
  border-bottom: 2px solid rgba(220, 164, 60, 1);
}

.worklog1 {
  max-width: 100%;
  overflow-x: auto; /* Ensure table can be scrolled horizontally */
}

.worklog1 table {
  font-family: "League Spartan", sans-serif;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.worklog1 th,
.worklog1 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.worklog1 th {
  background-color: rgba(32, 33, 43, 1);
  color: white;
}

.worklog1 td {
  background-color: #fff;
  color: black;
  border-radius: 8px;
}

.form-hours-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.form-hours {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(220, 164, 60, 1);
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
}

.form-hours label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-hours input,
.form-hours select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 768px) {
  .employee-page-container {
    flex-direction: column;
    padding: 10px;
  }

  .employee-info,
  .worklogs-container {
    margin: 0;
    max-width: 100%;
  }

  .worklogs-container {
    margin-top: 20px;
  }

  .worklog1 table {
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
  }

  .form-hours-container {
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .employee-page-container {
    padding: 5px;
  }

  .employee-info,
  .worklogs-container {
    margin: 0;
    max-width: 100%;
  }

  .form-profile,
  .form-hours {
    padding: 5px;
  }

  .worklog1 table {
    margin-top: 10px;
    overflow-x: auto;
  }

  .worklogs-container {
    margin-top: 10px;
  }
}
